<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>add-products</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div class="navigation">
      <a href="index"><h1>Welcome to shoppy</h1></a>
      <nav>
        <a href="cart"><li>add-to-cart</li></a>
        <a href="product-detail"><li>product detail</li></a>
        <a href="product-list"><li>product list</li></a>
        <a href="checkout"><li>checkout</li></a>
        <a href="../admin/add-product"><li>add-product</li></a>
      </nav>
    </div>
    <div class="add-product">
      <form action="/products" method="post">
        <label for="title">title</label>
        <input type="text" name="titel" id="title" />
        <label for="imageUrl">image</label>
        <input type="text" name="imageUrl" id="imageUrl" />
        <label for="price">$</label>
        <input type="number" name="price" id="price" step="0.01" />
        <label for="description">description</label>
        <textarea id="description" name="description"></textarea>
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
