<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shoppy</title>
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    <div class="navigation">
      <a href="index"><h1>Welcome to shoppy</h1></a>
      <nav>
        <a href="cart"><li>add-to-cart</li></a>
        <a href="product-detail"><li>product detail</li></a>
        <a href="product-list"><li>product list</li></a>
        <a href="checkout"><li>checkout</li></a>
        <a href="add-product"><li>add-product</li></a>
      </nav>
    </div>
  </body>
</html>
