<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>shoppy</title>
    <link rel="stylesheet" href="/css/index.css">
  </head>
  <body>
 <header>
    <h1>Welcome to shoppy</h1>
 </header>
 <div>
    <nav>
            <li>add-to-cart</li>
            <li>view-products</li>
            <li>add-products</li>
            <li>products</li>
            <li>delete-products</li>
    </nav>
 </div>
  </body>
</html>
